.block-user {
    position: relative;
    display: flex;
    align-items: center;
}

.block-user-icon {
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.block-user-helth {
    position: absolute;
    border-radius: 12px;
    padding: 6px 6px;
    padding-left: 32px;
    top: 10px;
    left: 36px;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.block-user-shild {
    position: absolute;
    border-radius: 12px;
    padding: 6px 6px;
    top: 10px;
    left: 185px;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.back {
    padding: 6px 6px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
}

.block-main {
    max-width: 800px;
}

.spectator-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
}

.scale-and-object {
    transform: scale(1.3);
    transition: all 0.7s;
}

.isTrue {
    background-color: rgba(75, 181, 75, 0.692);
}

.isFalse {
    background-color: rgba(176, 71, 71, 0.733);
}